
# builded for Debain and Debain based distro 

# alias of termux-style
alias chcolor='/data/data/com.termux/files/home/.termux/colors.sh'
alias chfont='/data/data/com.termux/files/home/.termux/fonts.sh'

# ccli - common command line interface 
alias install='pkg install'
alias remove='pkg remove'
alias sync='pkg update'
alias upgrade='pkg upgrade'

# echominal
alias engine=~/./.engine.bash;
alias echominal=~/./.engine.bash;

# ccli - help 
alias ccli-help='less ~/.config/ccli/help.txt'